@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');

body { 
	/* max-width: 1000px; */
	margin: 0 auto;
    /*background-color: #c7d9b7;*/
    font-family: "ABeeZee", Arial, Helvetica, sans-serif;
    font-size: 22px;
    padding: 40px;
}

#content {
    /* max-width: 1000px; */
    margin: 0 auto;
    padding: 5px;
    align-items: center;
    justify-content: center;
    background: #ffd9da;
    border-radius: 40px;
    border: solid #89023e 5px;
}

.logo {
    border-radius: 50%;
    border: 5px solid #c7d9b7;
    width: 150px;
    transition: transform 0.3s ease;
}

.logo:hover {
    transform: scale(1.1);
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

header {
    display: grid;
    grid-template-columns: 250px auto;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a:hover {
    color: #89023e;
    font-size: 1.8em;
    font-weight: bold;
}

nav a {
    text-align: center;
    color: #cc7178;
    text-decoration: none;
    padding: 25px;
    transition: font-size 0.2s ease;
}

#hero {
    align-content: center;
    padding: 10px;
    margin: -20px auto 0px;
}

#hero-tgline {
    color: #cc7178;
    text-align: center;
}

.home-title {
    font-size: 2.5em;
    font-weight: bold;
    text-decoration-color: #c7d9b7;
    text-decoration: underline overline;
}

#hero-tgline h4 {
    color: #cc7178;
    font-style: italic;
    margin-top: -40px;
}

#hero-msg {
    color: #cc7178;
    text-align: center;
}

#hero-box {
    align-content: center;
}

#hero-img {
    width: 100%;
    border-radius: 40px;
    border: solid #89023e 5px;
    transition: transform .3s;
}

/*#hero-img:hover {
    opacity: .4;
    transform: scale(1.1);
}*/

.home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto auto;
    background: #ffd9da;
    margin: auto;
    margin-bottom: 40px;
    padding: 40px;
    border-radius: 40px;
    border: solid #89023e 5px;
}

.reading-girl {
    grid-column: 1/3;
    grid-row: 1/4;
    border-radius: 40px;
    width: 100%;
    margin-bottom: 20px;
}

.reading-boy {
    grid-column: 2/4;
    grid-row: 3/6;
    border-radius: 40px;
    width: 100%;
    margin-top: 20px;
}

.reading-girl:hover, .reading-boy:hover {
    opacity: 1;
    transform: scale(1.05);
    transition: transform .5s;
}

.quote1 {
    grid-column: 3/4;
    grid-row: 1/2;
    margin-left: 20px;
    font-style: italic;
    color: #cc7178;
}

.author1 {
    grid-column: 3/4;
    grid-row: 2/3;
    margin-left: 20px;
    margin-top: -10px;
    font-size: .8em;
    color: #89023e;
    text-decoration: underline;
}

.quote2 {
    grid-column: 1/2;
    grid-row: 4/5;
    text-align: right;
    margin-right: 20px;
    font-style: italic;
    color: #cc7178;
}

.author2 {
    grid-column: 1/2;
    grid-row: 5/6;
    text-align: right;
    margin-top: -10px;
    margin-right: 20px;
    font-size: .8em;
    color: #89023e;
    text-decoration: underline;
}

footer {
    margin: 0 auto;
    /* max-width: 1000px; */
    background-color: whitesmoke;
    color: #cc7178;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 40px;
    border: solid #89023e 5px;
}

footer a {
    color: #cc7178;
    text-decoration: none;
}

footer a:hover {
    color: #89023e;
    font-size: 1.5em;
    font-weight: bold;
}

footer p {
    font-size: .8em;
    color: black;
}

.logo-footer {
    border-radius: 50%;
    border: 5px solid #c7d9b7;
    width: 100px;
    transition: transform 0.3s ease;
}

.logo-footer:hover {
    transform: scale(1.05);
}

/* Page 2 styles */
.p2-grid {
    display: grid;
    grid-template-columns: 1fr .5fr 1fr;
    grid-template-rows: repeat(16, auto);
    /* max-width: 1000px; */
    border-radius: 40px;
    border: #89023e solid 5px;
    margin: 40px auto;
    background: whitesmoke;
    padding: 20px 40px;
}

.p2-page-title {
    grid-column: 1/4;
    grid-row: 1/2;
    text-align: left;
    font-weight: bolder;
    color: #cc7178;
    text-decoration-color: #c7d9b7;
    text-decoration: underline;
}

#p2-intro {
    grid-column: 1/4;
    grid-row: 2/3;
}

#p2-strat1-title {
    grid-column: 1/2;
    grid-row: 3/4;
}

#p2-strat1-desc {
    grid-column: 1/2;
    grid-row: 4/5;
}

#p2-strat2-title {
    grid-column: 1/2;
    grid-row: 5/6;
}

#p2-strat2-desc {
    grid-column: 1/2;
    grid-row: 6/7;
}

#p2-strat3-title {
    grid-column: 1/2;
    grid-row: 7/8;
}

#p2-strat3-desc {
    grid-column: 1/2;
    grid-row: 8/9;
}

.literacy-img1 {
    grid-column: 2/4;
    grid-row: 3/9;
    width: 95%;
    margin-left: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.literacy-img2 {
    grid-column: 1/3;
    grid-row: 9/13;
    width: 95%;
    margin-bottom: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

#p2-strat4-title {
    grid-column: 3/4;
    grid-row: 9/10;
}

#p2-strat4-desc {
    grid-column: 3/4;
    grid-row: 10/11;
}

#p2-strat5-title {
    grid-column: 3/4;
    grid-row: 11/12;
}

#p2-strat5-desc {
    grid-column: 3/4;
    grid-row: 12/13;
}

#p2-strat6-title {
    grid-column: 1/4;
    grid-row: 13/14;
}

#p2-strat6-desc {
    grid-column: 1/4;
    grid-row: 14/15;
}

#p2-sum1 {
    grid-column: 1/4;
    grid-row: 15/16;
}

#p2-sum2 {
    grid-column: 1/4;
    grid-row: 16/17;
}

#p2-strat1-title,
#p2-strat2-title,
#p2-strat3-title,
#p2-strat4-title,
#p2-strat5-title,
#p2-strat6-title {
    margin: 0;
    font-size: .8em;
    text-decoration: underline;
    font-weight: bold;
    color: #cc7178;
}


#p2-intro,
#p2-strat1-desc,
#p2-strat2-desc,
#p2-strat3-desc,
#p2-strat4-desc,
#p2-strat5-desc,
#p2-strat6-desc,
#p2-sum1,
#p2-sum2 {
    text-align: justify;
    font-size: .8em;
}
/* End of styles for Page 2 */


/* Page 3 styles */
.p3-grid {
    display: grid;
    grid-template-columns: 1fr .5fr 1fr;
    grid-template-rows: repeat(16, auto);
    /* max-width: 1000px; */
    border-radius: 40px;
    border: #89023e solid 5px;
    margin: 40px auto;
    background: whitesmoke;
    padding: 20px 40px;
}

.p3-page-title {
    grid-column: 1/4;
    grid-row: 1/2;
    text-align: left;
    font-weight: bolder;
    color: #cc7178;
    text-decoration-color: #c7d9b7;
    text-decoration: underline;
}

#p3-intro {
    grid-column: 1/4;
    grid-row: 2/3;
}

.numeracy-img1 {
    grid-column: 1/3;
    grid-row: 3/7;
    width: 95%;
    margin-left: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

#p3-strat1-title {
    grid-column: 3/4;
    grid-row: 3/4;
}

#p3-strat1-desc {
    grid-column: 3/4;
    grid-row: 4/5;
}

#p3-strat2-title {
    grid-column: 3/4;
    grid-row: 5/6;
}

#p3-strat2-desc {
    grid-column: 3/4;
    grid-row: 6/7;
}

#p3-strat3-title {
    grid-column: 1/2;
    grid-row: 7/8;
}

#p3-strat3-desc {
    grid-column: 1/2;
    grid-row: 8/9;
}

#p3-strat4-title {
    grid-column: 1/2;
    grid-row: 9/10;
}

#p3-strat4-desc {
    grid-column: 1/2;
    grid-row: 10/11;
}

#p3-strat5-title {
    grid-column: 1/2;
    grid-row: 11/12;
}

#p3-strat5-desc {
    grid-column: 1/2;
    grid-row: 12/13;
}

#p3-strat6-title {
    grid-column: 1/4;
    grid-row: 13/14;
}

#p3-strat6-desc {
    grid-column: 1/4;
    grid-row: 14/15;
}

.numeracy-img2 {
    grid-column: 2/4;
    grid-row: 8/14;
    width: 95%;
    justify-self: right;
    margin-bottom: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

#p3-sum1 {
    grid-column: 1/4;
    grid-row: 15/16;
}

#p3-sum2 {
    grid-column: 1/4;
    grid-row: 16/17;
}

#p3-strat1-title,
#p3-strat2-title,
#p3-strat3-title,
#p3-strat4-title,
#p3-strat5-title,
#p3-strat6-title {
    margin: 0;
    font-size: .8em;
    text-decoration: underline;
    font-weight: bold;
    color: #cc7178;
}

#p3-intro,
#p3-strat1-desc,
#p3-strat2-desc,
#p3-strat3-desc,
#p3-strat4-desc,
#p3-strat5-desc,
#p3-strat6-desc,
#p3-sum1,
#p3-sum2 {
    text-align: justify;
    font-size: .8em;
}
/* End of styles for Page 3 */

@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    footer {
        margin-top: 25px;
    }
}